Source: qv2ray
Section: net
Priority: optional
Maintainer: DHR60
Build-Depends: debhelper (>= 11),
               cmake (>= 3.10.1),
               pkg-config,
               ninja-build,
               libcurl4-openssl-dev,
               libgrpc++-dev (>= 1.16.1-1~),
               libprotobuf-dev (>= 3.6.1.3-1~),
               libqt6svg6-dev,
               protobuf-compiler (>= 3.6.1.3-1~),
               protobuf-compiler-grpc (>= 1.16.1-1~),
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-tools-dev
Standards-Version: 4.5.0
Homepage: https://github.com/DHR60/Qv2ray

Package: qv2ray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: qt6-wayland
Description: Qt frontend for xray-core
 Project Qv2ray is a flexable cross platform Qt GUI client for Xray-core.
 It makes everything easier by using GUI editors. It also supports
 Trojan and NaiveProxy by making them plugins.
